<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @drug.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @drug.lastname %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @drug.firm %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @drug.cost %>
</p>



<p>
  <strong>Age:</strong>
  <%= @drug.age %>
</p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
