<p id="notice"><%= notice %></p>

<p>
  <strong>Dname:</strong>
  <%= @doctor.dname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Default appoinment duration:</strong>
  <%= @doctor.default_appoinment_duration %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
