
<%= form_for([@doctor, @appointment]) do |f| %>
<form onsubmit= @appointment.isAvailable >
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointmentdate %><br>
    <%= f.date_select :appointmentdate %>
  </div>
  <!--%start_time = Time.parse("9 AM").to_i
start_interval = Time.parse("11 AM").to_i
end_interval = Time.parse("1 PM").to_i
end_time = Time.parse("6 PM").to_i
values = (start_time..end_time).step(15.minutes).select{|t| t <= start_interval || t >= end_interval }
  %-->
  
  <div class="field">
    <%= f.label :startTime %><br>
    <%= f.time_select :startTime %>
  </div>
  
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_field :comment %>
  </div>
 
 <div class="field">
    <%= f.label "Contact Number to get the reminder" %>
    <%= f.text_field :pnumber %>
    </div>
    
    
 
  
 <!--div class="field"-->
    <!--%= f.label "Enter Doctor name::(refer the details given below)"%-->
    <!--%= f.text_field :doctor_id %-->
    
  <!--/div-->
  
 
<!--  Enter your phone number ::(get notified through our SMS service)
  <div class="field">
    <!--%= f.text_field :phone %-->
    
  <!--/div-->
  
  
  <!--/div-->
  <div class="actions">
    <!--%=f.doctor_id= :doctor_id%-->
      <%= f.submit %>
  </div>
</form>
<% end %>
