<p id="notice"><%= notice %></p>

<p>
  <strong>Appointmentdate:</strong>
  <%= @appointment.appointmentdate %>
</p>

<p>
  <strong>Startime:</strong>
  <%= @appointment.startTime %>
</p>


  <strong>Description</strong>
  <%= @appointment.comment %>
</p>



<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.dname %>
</p>

<p>
  <strong>Patient Email:</strong>
  <%= @appointment.patientname %>
</p>





<%= link_to 'Edit', edit_doctor_appointment_path(@doctor, @appointment) %> |
<%= link_to 'Book another appointment for same doctor', new_doctor_appointment_path(@doctor) %>
